<template>
    <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-header" data-background-color="orange">
                    <i class="material-icons">content_copy</i>
                </div>
                <div class="card-content">
                    <p class="category">Счета</p>
                    <h3 class="title">{{ userInfo.invoicesCount }}/50</h3>
                </div>
                <div class="card-footer">
                    <div class="stats">
                        <i class="material-icons text-danger">warning</i> <a href="#pablo">получить больше</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-header" data-background-color="green">
                    <i class="material-icons">attach_money</i>
                </div>
                <div class="card-content">
                    <p class="category">Доход</p>
                    <h3 class="title">$34,245</h3>
                </div>
                <div class="card-footer">
                    <div class="stats">
                        <i class="material-icons">date_range</i> Last 1 months
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-header" data-background-color="red">
                    <i class="material-icons">business_center</i>
                </div>
                <div class="card-content">
                    <p class="category">Товаров/услуг</p>
                    <h3 class="title">{{ userInfo.productCount }}</h3>
                </div>
                <div class="card-footer">
                    <div class="stats">
                        <i class="material-icons">local_offer</i> ...
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 text-center">
            <h3>Здесь прочая информация...</h3>
        </div>
    </div>
</template>

<script>
     export default {
         data: function () {
             return {
                userInfo: ''
             }
         },
         methods: {
            getUserStatistics: function () {
                axios.get('/home/get-user-statistics')
                    .then((response) => {
                        console.log(response.data)
                        this.userInfo = response.data;
                    }).catch((e) => {

                })
            }
         },
         created: function () {
             this.getUserStatistics();
         }
     }
</script>