<template>
    <div class="col-md-12">

        <div class="card">
            <div class="card-header" data-background-color="purple">
                <h4 class="title">Счета</h4>
                <p class="category">Ваши счета</p>
            </div>
            <div class="card-content">
                <div v-on:click="invoicesFormSwitching" class="btn btn-default">{{ invoicesFormDisplay ? 'Отменить' : 'Добавить' }}</div>
                <div id="form" v-if="invoicesFormDisplay">
                    <span class="text-danger">*</span><span class="text-muted">отмечены поля обязательные для заполнения</span>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group label-floating">
                                <label class="control-label">
                                    Товар/услуга
                                    <span class="text-danger">*</span>
                                </label>
                                <select class="form-control" v-model="newInvoice.product_id">
                                    <option  selected disabled value="false">Выберите продукт из списка</option>
                                    <option v-for="product in products" v-bind:value="product.name">{{ product.name }}</option>
                                </select>
                                <span class="material-input"></span>
                            </div>
                        </div>
                        <div class="col-md-1">
                            <div class="form-group label-floating">
                                <label class="control-label">
                                    Кол-во
                                    <span class="text-danger">*</span>
                                </label>
                                <input type="text" class="form-control" v-model="newInvoice.product_count">
                                <span class="material-input"></span>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group label-floating">
                                <label class="control-label">Еденица</label>
                                <input type="text" class="form-control" v-model="newInvoice.unit">
                                <span class="material-input"></span>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group label-floating">
                                <label class="control-label">
                                    Цена(нетто)
                                    <span class="text-danger">*</span>
                                </label>
                                <input type="text" class="form-control" v-model="newInvoice.price_without_vat">
                                <span class="material-input"></span>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group label-floating">
                                <label class="control-label">
                                    НДС
                                    <span class="text-danger">*</span>
                                </label>
                                <input type="text" class="form-control"  v-model="newInvoice.vat">
                                <span class="material-input"></span>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group label-floating">
                                <label class="control-label">
                                    Сумма(нетто)
                                    <span class="text-danger">*</span>
                                </label>
                                <input type="text" class="form-control" v-model="newInvoice.price_with_vat">
                                <span class="material-input"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3">
                            <div class="form-group label-floating">
                                <label class="control-label">
                                    Клиент
                                    <span class="text-danger">*</span>
                                </label>
                                <select class="form-control" v-model="newInvoice.customer_id">
                                    <option  selected disabled value="false">Выберите клиента из списка</option>
                                    <option v-for="customer in customers" v-bind:value="customer.id">{{ customer.name }}</option>
                                </select>
                                <span class="material-input"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="form-group label-floating">
                                    <label class="control-label">Описание счёта</label>
                                    <textarea class="form-control" rows="3" v-model="newInvoice.description"></textarea>
                                    <span class="material-input"></span></div>
                            </div>
                        </div>
                    </div>
                    <div class="row text-center">
                        <div v-on:click="newInvoiceSave" class="btn btn-primary">Сохранить<div class="ripple-container"></div></div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="card-content table-responsive">
                <table class="table">
                    <thead class="text-primary">
                        <tr>
                            <th>Статус</th>
                            <th>Клиент</th>
                            <th>Сумма</th>
                        </tr>
                    </thead>
                    <tbody>
                    <tr v-for="invoice in invoices">
                        <td>{{ invoice.status }}</td>
                        <td>
                            <a v-bind:href="'/invoice/'+invoice.id">
                                {{ invoice.customer.name }}
                             </a>
                        </td>
                        <td>{{ invoice.sum_with_vat }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data: function () {
            return {
                invoicesFormDisplay: false,
                newInvoice: {},
                invoices: '',
                customers: '',
                products: ''
            }
        },
        methods: {
            invoicesFormSwitching: function () {
                this.invoicesFormDisplay? this.invoicesFormDisplay = false : this.invoicesFormDisplay = true ;
            },
            newInvoiceSave: function () {
                axios.post('/invoice/save', this.newInvoice)
                    .then((response) => {
                        this.invoices.unshift(response.data);
                        $.notify({
                            message: 'Новый счёт успешно сохранён'
                        },{
                            type: 'success'
                        })
                    }).catch((e) => {
                        $.notify({
                            message: 'Ошибка сохранения счёта'
                        },{
                            type: 'danger'
                        })
                })
            },
            getUserInvoices: function () {
                axios.get('/user-invoices')
                    .then((response) => {
                        this.invoices = response.data;
                    }).catch((e) => {

                })
            },
            getUserCustomers: function () {
                axios.get('/user-customers')
                    .then((response) => {
                        this.customers = response.data;
                    }).catch((e) => {

                })
            },
            getUserProducts: function () {
                axios.get('user-products')
                    .then((response) => {
                        this.products = response.data;
                    })
                    .catch((e) => console.log(e))
            }
        },
        created: function () {
            this.getUserInvoices();
            this.getUserCustomers();
            this.getUserProducts();
        }
    }
</script>