<template>
    <div class="col-md-12">
        <div class="card">
            <div class="card-header" data-background-color="green">
                <h4 class="title">Продукты и услуги</h4>
                <p class="category">Ваши продукты и услуги</p>
            </div>
            <div class="card-content">
                <div v-on:click="productFormSwitching" class="btn btn-default">{{ productFormDisplay ? 'Отменить' : 'Добавить' }}</div>
                <div id="form" v-if="productFormDisplay">
                    <span class="text-danger">*</span><span class="text-muted">отмечены поля обязательные для заполнения</span>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group label-floating">
                                <label class="control-label">
                                    Название товара/услуги
                                    <span class="text-danger">*</span>
                                </label>
                                <input type="text" class="form-control" v-model="newProduct.name">
                                <span class="material-input"></span></div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group label-floating">
                                <label class="control-label">
                                    Номер товара/услуги
                                </label>
                                <input type="text" class="form-control" v-model="newProduct.number">
                                <span class="material-input"></span></div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group label-floating">
                                <label class="control-label">Еденица измерения</label>
                                <input type="text" class="form-control" v-model="newProduct.unit">
                                <span class="material-input"></span></div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group label-floating">
                                <label class="control-label">
                                    Цена нетто (без НДС)
                                    <span class="text-danger">*</span>
                                </label>
                                <input type="text" class="form-control" v-model.number="price_without_vat">
                                <span class="material-input"></span></div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group label-floating">
                                <label class="control-label">
                                    НДС
                                    <span class="text-danger">*</span>
                                </label>
                                <select class="form-control" v-model="percent">
                                    <option v-for="vat in vats" v-bind:value="vat.value">{{ vat.title }}</option>
                                </select>
                                <span class="material-input"></span></div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group label-floating">
                                <label class="control-label">
                                    Цена брутто (с НДС)
                                    <span class="text-danger">*</span>
                                </label>
                                <input type="text" class="form-control" v-model.number="price_with_vat">
                                <span class="material-input"></span></div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group label-floating">
                                <label class="control-label">Себестоимость</label>
                                <input type="text" class="form-control" v-model.number="newProduct.cost_price">
                                <span class="material-input"></span></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Описание</label>
                                <div class="form-group label- floating is-empty">
                                    <label class="control-label">Описание товара/услуги</label>
                                    <textarea class="form-control" rows="3" v-model="newProduct.description"></textarea>
                                    <span class="material-input"></span></div>
                            </div>
                        </div>
                    </div>
                    <div class="row text-center">
                        <div v-on:click="newProductSave" class="btn btn-primary">Сохранить<div class="ripple-container"></div></div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="card-content table-responsive">
                <table class="table">
                    <thead class="text-primary">
                    <tr>
                        <th>Имя</th>
                        <th>Цена</th>
                        <th>Описание</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="product in products">
                        <td>{{ product.name }}</td>
                        <td class="text-primary">{{ product.price_without_vat }}</td>
                        <td>{{ product.description }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data: function () {
            return {
                productFormDisplay: false,
                newProduct: {
                    price_without_vat: 0,
                    price_with_vat: 0,
                    vat: 0.00
                },
                products: '',
                vats: '',
                //vatPercent: 0
            }
        },
        computed: {
            percent: {
                get(){
                    return this.newProduct.vat
                },
                set(value){
                    this.newProduct.vat = value;
                    this.newProduct.price_with_vat = this.newProduct.price_without_vat + this.newProduct.price_without_vat*(this.newProduct.vat/100);
                }

            },
            price_without_vat: {
                get () {
                    return this.newProduct.price_without_vat
                },
                set (value) {
                    this.newProduct.price_without_vat = value;
                    this.newProduct.price_with_vat = value + value*(this.newProduct.vat/100);
                }
            },
            price_with_vat: {
                get () {
                    return this.newProduct.price_with_vat
                },
                set (value) {
                    this.newProduct.price_with_vat = value;
                    this.newProduct.price_without_vat = value - value*(this.newProduct.vat/100);
                }
            }
        },
        methods: {
            productFormSwitching: function () {
                this.productFormDisplay ? this.productFormDisplay = false : this.productFormDisplay = true ;
            },
            newProductSave: function () {
                axios.post('/product/save',this.newProduct)
                    .then((response) => {
                        console.log(response.data);
                        $.notify({
                            message: '<p>Новый товар/услуга успешно добавлен</p>'
                        },{
                            type: 'success'
                        });
                        this.products.unshift(response.data);
                    }).catch((e) => {
                        $.notify({
                            message: 'Ошибка при сохранении: '+ e
                        },{
                            type: 'danger'
                        })
                })
            },
            getUserProducts: function () {
                axios.get('user-products')
                    .then((response) => {
                        this.products = response.data;
                    })
                    .catch((e) => console.log(e))
            },
            getVats: function () {
                axios.get('/get-vat')
                    .then((response) => {
                        this.vats = response.data;
                    }).catch((e) => comsole.log(e))
            }
        },
        created: function () {
            this.getUserProducts();
            this.getVats();
        }
    }
</script>