<template>

        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <button id="CloseModal" class="close" data-dismiss="modal"><i class="fa fa-window-close"></i></button>
                    <h3 class="modal-title" id="NewProduct">New Product</h3>
                </div>
                <div class="modal-body">
                    <form action="form" role="form">
                        <div class="row">
                            <div class="col-lg-12 form-group text-left">
                                <label>Name</label>
                                <input type="text" class="form-control" placeholder="Name">
                            </div>
                            <div class="col-lg-6 form-group">
                                <label>Product No.</label>
                                <input type="text" class="form-control" placeholder="Product No.">
                            </div>
                            <div class="col-lg-6 form-group">
                                <label>Net Price (without VAT)</label>
                                <input type="text" class="form-control limitInput" id="price_without_vat" name="price_without_vat" placeholder="Net Price (without VAT)">
                            </div>
                            <div class="col-lg-6 form-group">
                                <label>Description</label>
                                <textarea class="form-control" style="height: 250px;  resize: none;" placeholder="Description"></textarea>
                            </div>
                            <div class="col-lg-6 form-group">
                                <label>Gross Price (with VAT)</label>
                                <input type="text" class="form-control limitInput" id="price_with_vat" name="price_with_vat" placeholder="Gross Price (with VAT)">
                            </div>
                            <div class="col-lg-6 form-group">
                                <label>Unit</label>
                                <div>
                                    <select placeholder="Unit" class="chosen-select form-control" tabindex="2">
                                        <option value="None">None</option>
                                        <option value="hour">hour</option>
                                        <option value="day">day</option>
                                        <option value="month">month</option>
                                        <option value="each" id="UnitEach">each</option>
                                        <option value="carton">carton</option>
                                        <option value="kg">kg</option>
                                        <option value="km">km</option>
                                        <option value="liter">liter</option>
                                        <option value="meter">meter</option>
                                        <option value="m2">m2</option>
                                        <option value="m3">m3</option>
                                        <option value="night">night</option>
                                        <option value="ifm">ifm</option>
                                        <option value="package">package</option>
                                        <option value="flat rate">flat rate</option>
                                        <option value="ton">ton</option>
                                        <option value="year">year</option>
                                        <option value="minute">minute</option>
                                        <option value="fm">fm</option>
                                        <option value="lm">lm</option>
                                        <option value="word">word</option>
                                        <option value="assignment">assignment</option>
                                        <option value="character">character</option>
                                        <option value="box">box</option>
                                        <option value="bottle">bottle</option>
                                        <option value="bag">bag</option>
                                        <option value="ha">ha</option>
                                        <option value="Ar">Ar</option>
                                        <option value="week">week</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-6 form-group">
                                <label>VAT</label>
                                <select class="form-control" id="vat" name="vat">
                                    @foreach($vats as $vat)
                                    <option value="{{ $vat->value }}">{{ $vat->title }}</option>
                                    @endforeach
                                </select>
                            </div>
                            <div class="col-lg-6 form-group">
                                <label>Cost Price</label>
                                <input type="number" class="form-control" placeholder="Cost Price">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button href="#" class="btn btn-info btn-block">Add</button>
                </div>
            </div>
        </div>

</template>
<script>
    export default {
        data: function () {
            return{

            }
        },

    }
</script>